@media screen and (max-width: 1206px) {
	.title__phone-image img {
		width: 20%;
		height: auto;
		top: 275px;
		right: 115px;
	}
	.intro__title-text {
		font-size: 66px;
		line-height: 72px;
	}
	.stories__item-hubspot {
		top: 312px;
		left: 110px;
	}
	.stories__item-airbnb {
		top: 246px;
		left: 513px;
	}
	.stories__item-bookshow {
		top: 600px;
		left: 485px;
	}
	.managing__image-first {
		left: 579px;
		width: 17%;
	}
	.managing__image-second {
		top: 257px;
		left: 743px;
	}
}

@media screen and (max-width: 978px) {
	.stories__header {
	padding: 50px 0 0 0;
	text-align: center;
	}
	.stories__title {
		margin: 0 auto;
	}
	.stories__items{
		padding-bottom: 50px;
	}
	.stories__item-hubspot {
		position: static;
		width: auto;
		margin: 5px 150px;
	}
	.stories__item-airbnb {
		position: static;
		width: auto;
		margin: 5px 150px;
	}
	.stories__item-bookshow {
		position: static;
		width: auto;
		margin: 5px 150px;
	}
	.stories__bg-image {
		display: none;
	}
	.managing__image-first, .managing__image-second {
		display: none;
	} 
	.managing__title, .managing__subtitle, .managing__offer, .managing__links {
		margin: 0 auto;
		text-align: center;
	}
	.managing__title {
	margin-bottom: 8px;
	}
	.managing__subtitle {
	margin-bottom: 48px;
	}
	.managing__offer {
	margin-bottom: 8px;
	}
}

@media screen and (max-width: 900px) {
	.title__phone-image {
	display: none;
	}
	.header__store {
	display: none;
	}
}
	

@media screen and (max-width: 767px) {
	.features__title {
		padding-top: 24px;
	}
	.intro__title {
		padding-top: 200px;
		width: 480px;
	}
	.intro__title-text {
		font-size: 44px;
		line-height: 52px;
	}
	.intro__button-link {
		padding: 9px 25px;
	}
	.intro__button {
		padding-bottom: 100px;
	}
	.logo-cloud__items {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		justify-items: center;
		margin: 8px 50px;
			a {
				padding: 8px 0;
			}
	}
	.stories__item-hubspot {
		margin: 5px 20px;
	}
	.stories__item-airbnb {
		margin: 5px 20px;
	}
	.stories__item-bookshow {
		margin: 5px 20px;
	}
	.achievements__body {
		display: block;
		margin: 32px 0 55px 0;
	}
	.achievements__subtitle {
		margin-bottom: 30px;
	}
	.achievements__cards {
		justify-items: center;
	}
	.headline__image {
		display: none;
	}
	.headline__body {
		display: block;
	}
	.managing__title {
		padding-top: 25px;
		width: 100%;
	}
	.managing__subtitle {
		width: 100%;
	}
}

@media screen and (max-width: 504px) {
	body.lock {
		overflow: hidden;
	}
	.header__body {
		position: relative;
	}
	.header__burger {
		display: block;
		position: absolute;
		top: 4px;
		right: 0;
	}
	.burger__line {
		background-color: #000;
	}
	.header__nav-menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #E1D5FD;
		z-index: 10;
		transform: translateX(100%);
		transition: .2s linear;
	}

	.header__nav-menu_active {
		transform: translateX(0);
	}

	.header__nav-menu-close {
		display: block;
	}

	.header__nav-menu-item {
		display: block;
		a {
			color: #000;
			font-size: 40px;
			line-height: 65px;
		}
	}

.header__nav-menu-item:last-child {
	background: none;
}

}

@media screen and (max-width: 480px) {
	.intro__title {
		padding-top: 70px;
		width: 300px;
	}
	.intro__title-text {
		font-size: 36px;
		line-height: 46px;
	}
	.intro__button {
		padding-bottom: 50px;
	}
	.intro__button-link {
		padding: 4px 15px;
	}
	.logo-cloud__items {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		margin: 8px 15px;
	}
	.title {
		font-size: 33px;
		line-height: 36px;
		width: 100%;
	}
	.subtitle {
		font-size: 12px;
		line-height: 17px;
	}
	.features__items {
		grid-template-columns: 1fr;
	}
	.features__title {
		padding-top: 10px;
	}
	.stories__header {
		padding: 20px 0 0 0;
	}
	.text {
		font-size: 14px;
		line-height: 25px;
	}
	.achievements__header {
		text-align: center;
	}
	.achievements__cards{
		grid-template-columns: 1fr;
		
	}
	.achievements__card {
		display: block;
		text-align: center;
	}
	.headline__content-title {
		font-size: 36px;
		line-height: 47px;
		margin-bottom: 8px;
	}
	.headline__content-subtitle {
		font-size: 14px;
		line-height: 28px;
	}
	.trends__title {
		font-size: 36px;
		line-height: 47px;
	}
	.trends__subtitle {
		font-size: 14px;
		line-height: 28px;
	}
	.number {
		font-size: 23px;
		line-height: 32px;
	}
}